<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Título Padrão{% endblock %}</title>
</head>
<body>
	<header>
		<!-- Cabeçalho da Página -->
		<h1>Nome do Estabelecimento</h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Início</a></li>
				<li><a href="url 'cardapio' ">Cardápio</a></li>
				<li><a href="url 'reservas' ">Reservas</a></li>
				<li><a href="{% url 'contato' %} ">Contato</a></li>
				<li><a href="{% url 'configuracao' %} ">Configurações</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<!-- Conteúdo Principal da Página -->
    {% block conteudo %}

    {% endblock conteudo %}
	</main>
	
	<footer>
		<!-- Rodapé da Página -->
		<p>&copy; 2023 Nome do Estabelecimento. Todos os direitos reservados.</p>
	</footer>
</body>
</html>