{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Stylesheet Bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="shortcut icon" type="image/png" href="img/ico/favicon.png">

      <!-- Stylesheet -->
      <link rel="stylesheet" href="{% static 'style.css' %}">

      <!-- Título -->
      <title>PRINCIPAL</title>
  </head>

  <body>
      <!-- Cabeçalho -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="#">My Website</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Despesas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Vendas</a>
              </li>
            </ul>
          </div>
      </nav>
      <!-- Fim do cabeçalho -->

      <!-- Corpo -->
      <main>

        <div class="description">
          <span class="description-title-table">MESAS</span>
        </div>

        <div class="main-page">
          <div class="tables col-9">
              <!-- Exibindo Mesas -->
              {% for mesa in mesas %}
                  <div class="mesa">
                      <a href="#" id="{{ mesa.mes_id }}" >
                          {{ mesa.mes_numero }}
                      </a>
                  </div>
              {% endfor %}
          </div>    

          <aside class="aside-page">

            <div class="aside-table">
              <!-- Tag usada para ver qual mesa esta sem atendida -->
              <h4 id="id_mesa">Mesa</h4>
              <div class="aside-atendente">
                <!-- Adicionar item a comanda -->
                <form action="/action_page.php">
                  <label for="cars">Atendente</label>
                  <select name="atendente">
                    {% for garcon in garcons %}
                        <option value="{{ garcon }}">{{ garcon.gar_nome }}</option>
                    {% endfor %}
                  </select>                
                  <br><br>
                </form>
                <!-- Fim do adicionar item a comanda -->
              </div>
            </div>

            <div class="aside-add col">
              <h4 id="add-title">Adicionar</h4>
              <div class="aside-pesquisar">
                <h6 id="search-info">Pesquisar:</h6>
                <input id="search-bar" type="text">
              </div>
            </div>

            <div id="select-item" class="wrapper">
              <!-- Adicionar item a comanda -->
              <select size="5" name="" id="" class="form-control">
                  {% for itens in itens_de_cardapio %}
                      <option value="{{ itens.car_id }}">{{ itens.car_item }}</option>
                  {% endfor %}
              </select></div>
              <!-- Fim do adicionar item a comanda -->

              <div class="aside-quantidade">
                <h6 id="quantity-info" >Quantidade:</h6>
                <input id="quantity-bar" type="number" style="width:3vw;">
                <button id="submit-button" >Enviar</button>
              </div>
            </div>

          </aside>

        </div>

      </main>
      <!-- Fim do corpo-->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous">
      </script>
      <script>
        document.getElementById("{{ mesa.mes_id }}").addEventListener("click", function() {
          document.getElementById("id_mesa").innerHTML = "Este é o novo h4";
        });
      </script>

  </body>

</html>