body{
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
}

nav{
    height:10vh;
}

main {
    height:90vh;
    display:flex;
    flex-direction:column;
}

.description {
    background-color:rgba(102,102,102);
    height:8vh;
    display:flex;
}

#description-title-table{
    margin-left:3vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(255,255,255);
}

.main-page {
    width:100vw;
    min-height:82vh;
    display:flex;
    flex-direction:row;
}

.mesa{
    display:inline-flex;
    margin:1.5vw;
    border-radius:50%;
    background-color:#3E4532;
    width:7vw;
    height:14vh;
    align-items:center;
    justify-content:center;
    color:white;
}

.tables {
    background-color:rgba(255, 255, 255);
    width:75vw;
}

.aside-table{
    width:25vw;
    margin-bottom:2vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2vh;
    border-bottom:0.5vh solid #3E4532;
}

.aside-page {
    display:flex;
    flex-direction:column;
    width:25vw;
    min-height:82vh;
    background-color:rgba(238,238,238);
}

#add-title{
    margin-bottom:5vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.aside-add{
    display:flex;
    flex-direction:column;
    margin-left:1vw;
    max-height:15vh;
}

#attendant{
    margin-right:1vw;
}

#attendant-select{
    width:7vw;
}


.aside-atendente {
    margin-top:3vh;
    display:flex;
    flex-direction:row;
    margin-bottom:3vh;
}

.aside-pesquisar{
    display:flex;
    flex-direction:row;
    margin-bottom:2vh;
}

.aside-quantidade{
    margin-top:2vh;
    display:flex;
    flex-direction:row;
    margin-left:1vw;
}

#search-info {
    margin-right:0.5vw;
}

#quantity-info{
    margin-right:0.5vw;
}

#quantity-bar{
    margin-right:0.3vw;
}

#select-item{
    margin-left:1vw;
    margin-right:1vw;
}

#description-title-products{
    margin-left:3vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(238,238,238);
}

#list-products{
    margin-top:3vh;
}

.select-product{
    margin-left:1vw;
    margin-right:1vw;
    margin-top:1vh;
    font-size:1.5rem;
    text-decoration:none;
    color:black;
}

.select-product:hover{
    background-color:black;
    color:white;
}