<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuMate - Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    
</head>
<body>

<!--Inicio Topo-->
    <header>
        <h2 class="logo"><img src="img/logo_small.png" alt="Logo Menu Mate"></h2>
        <nav class="navigation">
            <a href="#"><i class="fa fa-cutlery fa-1x" style="color:#FEDD94" alt="Restaurante"></i></a>
            <a href="#"><i class="fa fa-sellsy fa-1x" style="color:#FEDD94" alt="Vendas"></i></a>
            <a href="#"><i class="fa fa-money fa-1x" style="color:#FEDD94" alt="Despesas"></i></a>
            <a href="#"><i class="fa fa-shopping-cart fa-1x" style="color:#FEDD94" alt="Produtos"></i></a>
            <a href="#"><i class="fa fa-users fa-1x" style="color:#FEDD94" alt="Clientes"></i></a>
            <a href="#"><i class="fa fa-truck fa-1x" style="color:#FEDD94" alt="Fornecedores"></i></a>           
            <a href="#"><i class="fa fa-file-text fa-1x" style="color:#FEDD94" alt="Relatórios"></i></a>           
            <button class="btnLogout-popup">Logout</button>
        </nav>
        
    </header>




    </div>


    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/523640fc82.js" crossorigin="anonymous"></script>


</body>
</html>